@font-face {
  font-family: "insanibc";
  src: url('./fonts/Insanibc.ttf');
}

body {
  margin: 0;
  font-family: "insanibc";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6948A3;
  color: #EFEAF1;
  margin: 5%;
  list-style-type: none;
}

/* #6948A3 roxo claro
  #EFEAF1 branco
  #F9BC52 amarelo
  #6948A3 roxo escuro */