body {
  font-family: 'Roboto';
  background-color: #6948A3;
  color: #EFEAF1;
  margin: 3%;
  list-style-type: none;
  font-size: 20px;
}

/* #6948A3 roxo claro
  #EFEAF1 branco
  #F9BC52 amarelo
  #F9BA2D amarelo mais forte
  #513184 roxo escuro */